.dg-gradient {
  transition: .1s all;
}

.dg-gradient:hover {
  display: inline-block;
  background: linear-gradient(270deg, #08fdff, #ff08d5);
  background-size: 400% 400%;
  animation-name: dg-gradient;
  animation-duration: .6s;
  animation-direction: normal;
  animation-iteration-count: infinite;
  color: #fff;
  text-shadow: 0px 0px 2px #000;
  transform: scale(1.2);
}

.dg-twitch:hover {
  display: inline-block;
  animation-name: dg-twitch;
  animation-duration: .1s;
  animation-direction: normal;
  animation-iteration-count: infinite;
}

.dg-enlarge:hover {
  display: inline-block;
  animation-name: dg-enlarge;
  animation-duration: 1s;
  animation-direction: normal;
  animation-iteration-count: infinite;
}

@keyframes dg-gradient {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

@keyframes dg-twitch {
  0% {
    transform: rotate(-2deg);
  }
  100% {
    transform: rotate(2deg);
  }
}
@keyframes dg-enlarge {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(50);
    opacity: 0;
  }
}

.dg-rainbow {
  cursor:pointer;
  -webkit-transition-property: background;
  -webkit-transition-duration: 3s;
  -webkit-transition-timing-function: ease-out;
  color:#222;
  text-shadow:0px 0px 5px white;
  z-index:3;
  background: -webkit-linear-gradient(left,  rgba(255,0,0,1) 0%,rgba(255,255,0,1) 19%,rgba(0,255,0,1) 38%,rgba(0,255,255,1) 51%,rgba(0,0,255,1) 67%,rgba(255,0,255,1) 83%,rgba(255,0,0,1) 99%); /* Chrome10+,Safari5.1+ */
  -webkit-text-stroke: 5px rgba(255,255,255,.01);
  -webkit-background-clip: text;
  padding: 0 0.5em;
}
.dg-rainbow:hover{
  -webkit-transition-property: background;
  -webkit-transition-duration: 2s;
  -webkit-transition-timing-function: ease-out;
  background: -webkit-linear-gradient(right,  rgba(255,0,0,1) 0%,rgba(255,255,0,1) 19%,rgba(0,255,0,1) 38%,rgba(0,255,255,1) 51%,rgba(0,0,255,1) 67%,rgba(255,0,255,1) 83%,rgba(255,0,0,1) 99%); /* Chrome10+,Safari5.1+ */
  background-position:100px;
  -webkit-background-clip: text;
}

.dg-skew {
  display: inline-block;
  animation: dg-skew 2s infinite;
  animation-direction: alternate;
  transition-timing-function: ease-in-out;
}

@keyframes dg-skew {
  0%   { transform: skew(4deg, 4deg); }
  100% { transform: skew(-4deg, -4deg); }
}
